.gift {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  cursor: pointer;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gift.opening {
  pointer-events: none;
}

.gift-svg {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 600px;
}

.gift.hidden {
  display: none;
}

