@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.countdown-timer {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  max-width: 100%;
}

.countdown-timer h2 {
  text-align: center;
  font-size: 3em;
  line-height: 1.2em;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0 10px;
}

.countdown-timer h2 span {
  display: block;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 0.3em;
  margin-bottom: 10px;
}

.countdown-timer #year {
  font-size: 1em;
  font-weight: 500;
}

.countdown {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 0 10px;
}

.countdown-item {
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0;
  flex-shrink: 0;
}

.countdown-item > div:first-child {
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 2em;
  font-weight: 500;
  border-radius: 5px;
}

.countdown-item .label {
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 25px;
  background: #006b47;
  color: #fff;
  font-size: 0.5em;
  line-height: 25px;
  font-weight: 300;
  text-align: center;
  border-radius: 3px;
}

/* Tablet styles */
@media (min-width: 768px) {
  .countdown-timer h2 {
    font-size: 6em;
    line-height: 0.9em;
    margin-bottom: 30px;
  }

  .countdown-timer h2 span {
    letter-spacing: 4px;
    font-size: 0.25em;
  }

  .countdown {
    margin-top: 30px;
    gap: 12px;
  }

  .countdown-item {
    width: 90px;
    height: 90px;
  }

  .countdown-item > div:first-child {
    height: 90px;
    line-height: 90px;
    font-size: 2.5em;
  }

  .countdown-item .label {
    bottom: -28px;
    height: 30px;
    line-height: 30px;
    font-size: 0.4em;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .countdown-timer h2 {
    font-size: 10em;
    line-height: 0.7em;
    margin-top: -80px;
  }

  .countdown-timer h2 span {
    letter-spacing: 6px;
    font-size: 0.2em;
  }

  .countdown {
    display: flex;
    margin-top: 50px;
    gap: 0;
    padding: 0;
  }

  .countdown-item {
    width: 100px;
    height: 100px;
    margin: 0 15px;
  }

  .countdown-item > div:first-child {
    height: 100px;
    line-height: 100px;
    font-size: 3em;
    border-radius: 0;
  }

  .countdown-item .label {
    bottom: -30px;
    height: 35px;
    line-height: 35px;
    font-size: 0.35em;
    border-radius: 0;
  }
}

