@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.countdown-timer {
  font-family: 'Poppins', sans-serif;
}

.countdown-timer h2 {
  text-align: center;
  font-size: 10em;
  line-height: 0.7em;
  color: #fff;
  margin-top: -80px;
}

.countdown-timer h2 span {
  display: block;
  font-weight: 300;
  letter-spacing: 6px;
  font-size: 0.2em;
}

.countdown-timer #year {
  font-size: 1em;
  font-weight: 500;
}

.countdown {
  display: flex;
  margin-top: 50px;
}

.countdown-item {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 15px;
}

.countdown-item > div:first-child {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background: #333;
  color: #fff;
  font-size: 3em;
  font-weight: 500;
}

.countdown-item .label {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 35px;
  background: #006b47;
  color: #fff;
  font-size: 0.35em;
  line-height: 35px;
  font-weight: 300;
  text-align: center;
}

