.countdown-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.countdown-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.countdown-container {
  position: absolute;
  top: 80px;
  left: 100px;
  right: 100px;
  bottom: 80px;
  background: linear-gradient(45deg, rgba(162, 1, 1, 0.5) 0%, rgba(2, 2, 181, 0.5) 100%, rgba(0, 212, 255, 0.5) 100%);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5), 0 0 0 100px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

