* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
}
